USE [master]
GO
/****** Объект:  Database [BasketballDB]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
CREATE DATABASE [BasketballDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BasketballDB', FILENAME = N'C:\Users\starc\BasketballDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BasketballDB_log', FILENAME = N'C:\Users\starc\BasketballDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BasketballDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BasketballDB]
GO
/****** Объект:  Table [dbo].[Matches]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[MatchDate] [datetime2](7) NOT NULL,
	[ArenaName] [nvarchar](150) NOT NULL,
	[HomeTeamGuid] [uniqueidentifier] NOT NULL,
	[AwayTeamGuid] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PlayerMatchStats]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerMatchStats](
	[PlayerID] [int] NOT NULL,
	[MatchID] [int] NOT NULL,
	[PointsScored] [int] NULL,
	[FoulsCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Players]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[TeamGuid] [uniqueidentifier] NOT NULL,
	[PositionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Positions]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Teams]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamGuid] [uniqueidentifier] NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[FoundedYear] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([MatchID], [MatchDate], [ArenaName], [HomeTeamGuid], [AwayTeamGuid]) VALUES (1, CAST(N'2026-05-10T19:00:00.0000000' AS DateTime2), N'Мегаспорт Арена', N'26ce741c-950d-4486-9f8c-50f4c7de6e68', N'2ae13370-cf24-4f26-a57e-9b7015bcde1d')
INSERT [dbo].[Matches] ([MatchID], [MatchDate], [ArenaName], [HomeTeamGuid], [AwayTeamGuid]) VALUES (2, CAST(N'2026-05-15T18:30:00.0000000' AS DateTime2), N'Сибур Арена', N'2ae13370-cf24-4f26-a57e-9b7015bcde1d', N'dc392953-55a3-4dfc-9496-d0b95e508f6a')
INSERT [dbo].[Matches] ([MatchID], [MatchDate], [ArenaName], [HomeTeamGuid], [AwayTeamGuid]) VALUES (3, CAST(N'2026-05-20T19:30:00.0000000' AS DateTime2), N'Баскет-холл', N'dc392953-55a3-4dfc-9496-d0b95e508f6a', N'26ce741c-950d-4486-9f8c-50f4c7de6e68')
SET IDENTITY_INSERT [dbo].[Matches] OFF
GO
INSERT [dbo].[PlayerMatchStats] ([PlayerID], [MatchID], [PointsScored], [FoulsCount]) VALUES (1, 1, 25, 2)
INSERT [dbo].[PlayerMatchStats] ([PlayerID], [MatchID], [PointsScored], [FoulsCount]) VALUES (3, 1, 14, 3)
INSERT [dbo].[PlayerMatchStats] ([PlayerID], [MatchID], [PointsScored], [FoulsCount]) VALUES (3, 2, 10, 2)
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([PlayerID], [FirstName], [LastName], [BirthDate], [IsActive], [TeamGuid], [PositionID]) VALUES (1, N'Алексей', N'Швед', CAST(N'1988-12-16T00:00:00.0000000' AS DateTime2), 1, N'26ce741c-950d-4486-9f8c-50f4c7de6e68', 2)
INSERT [dbo].[Players] ([PlayerID], [FirstName], [LastName], [BirthDate], [IsActive], [TeamGuid], [PositionID]) VALUES (2, N'Никита', N'Курбанов', CAST(N'1986-10-05T00:00:00.0000000' AS DateTime2), 1, N'26ce741c-950d-4486-9f8c-50f4c7de6e68', 3)
INSERT [dbo].[Players] ([PlayerID], [FirstName], [LastName], [BirthDate], [IsActive], [TeamGuid], [PositionID]) VALUES (3, N'Андрей', N'Зубков', CAST(N'1991-06-29T00:00:00.0000000' AS DateTime2), 1, N'2ae13370-cf24-4f26-a57e-9b7015bcde1d', 4)
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (1, N'Разыгрывающий защитник')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (2, N'Атакующий защитник')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (3, N'Легкий форвард')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
INSERT [dbo].[Teams] ([TeamGuid], [TeamName], [Budget], [FoundedYear]) VALUES (N'26ce741c-950d-4486-9f8c-50f4c7de6e68', N'ЦСКА', CAST(15000000.00 AS Decimal(18, 2)), 1923)
INSERT [dbo].[Teams] ([TeamGuid], [TeamName], [Budget], [FoundedYear]) VALUES (N'2ae13370-cf24-4f26-a57e-9b7015bcde1d', N'Зенит', CAST(12000000.50 AS Decimal(18, 2)), 2014)
INSERT [dbo].[Teams] ([TeamGuid], [TeamName], [Budget], [FoundedYear]) VALUES (N'dc392953-55a3-4dfc-9496-d0b95e508f6a', N'УНИКС', CAST(10000000.00 AS Decimal(18, 2)), 1991)
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UIX_Teams_TeamName]    Дата создания скрипта: 28.06.2026 13:37:20 ******/ 
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Teams_TeamName] ON [dbo].[Teams]
(
	[TeamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerMatchStats] ADD  DEFAULT ((0)) FOR [PointsScored]
GO
ALTER TABLE [dbo].[PlayerMatchStats] ADD  DEFAULT ((0)) FOR [FoulsCount]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (newid()) FOR [TeamGuid]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_AwayTeam] FOREIGN KEY([AwayTeamGuid])
REFERENCES [dbo].[Teams] ([TeamGuid])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_AwayTeam]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_HomeTeam] FOREIGN KEY([HomeTeamGuid])
REFERENCES [dbo].[Teams] ([TeamGuid])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_HomeTeam]
GO
ALTER TABLE [dbo].[PlayerMatchStats]  WITH CHECK ADD  CONSTRAINT [FK_Stats_Matchs] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Matches] ([MatchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerMatchStats] CHECK CONSTRAINT [FK_Stats_Matchs]
GO
ALTER TABLE [dbo].[PlayerMatchStats]  WITH CHECK ADD  CONSTRAINT [FK_Stats_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerMatchStats] CHECK CONSTRAINT [FK_Stats_Players]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Position]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Teams] FOREIGN KEY([TeamGuid])
REFERENCES [dbo].[Teams] ([TeamGuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Teams]
GO
USE [master]
GO
